.app-header,
.loading-state,
.api-error {
  text-align: center;
}

.arrival-list-container {
  display: flex;
  margin: 10px;
  margin-top: 0px;
}

@media only screen and (max-width: 768px) {
  .arrival-list-container {
    display: block;
  }
}

.platform-heading {
  margin: 10px;
  align-items: center;
}

.arrivals-subHeading {
  margin-left: 20px;
  text-align: center;
}
.col-divider {
  margin: 0px 5px;
}
